.table {
  margin-top: 20px;
  /* make scroll/set height with table  */
  /* overflow: scroll; */
  overflow: hidden;
  height: 400px;
  /* every even num font color -> gray */
  color: #6a5d5d;
  background-color: white;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

/* every odd num -> white */
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}


