.table {
  margin-top: 20px;
  /* make scroll/set height with table  */
  overflow: scroll;
  height: 400px;
  /* every even num -> gray */
  color: #6a5d5d;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

/* every odd num -> white */
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}